@keyframes shrinkCache {
  0% {
    width: 100%;
  }
  100% {
    width: 62.5%;
  }
}
@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes showButtons {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.screen {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media (orientation: landscape) {
  .screen {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  width: 100%;
  position: relative;
  height: 0;
}
.logo img {
  width: 100%;
}
@media (orientation: landscape) {
  .logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 45%;

    max-width: 500;
  }
}
@media (orientation: portrait) {
  .logo {
    height: 0;
    padding-bottom: 38%;
  }
}
.logoInner {
  width: 100%;
}
@media (orientation: landscape) {
  .logoInner {
    position: relative;
    padding-bottom: 38%;
  }
}
@media (orientation: portrait) {
  .logoInner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
.logoLayerOne {
  background-position: top right;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.logoLayerTwo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: showElement 0s forwards ease-out 0.6s;
}
.logoLayerTwoCache {
  background-position: top right;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  animation: shrinkCache 2s forwards ease-out 0.6s;
}
.logoLayerThree {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: showElement 1s forwards ease-out 0.5s;
}
.logoLayerFour {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: showElement 0.2s forwards ease-out 2.6s;
}
.logoLayerFive {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: showElement 0.5s forwards ease-out 2.8s,
    bounce 0.5s 2 forwards ease 2.8s;
}
.buttons {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  opacity: 0;
  animation: showButtons 0.5s forwards ease-out 0.5s;
}
@media (min-width: 590px) and (orientation: portrait) {
  .buttons {
    padding-top: 100px;
    padding-bottom: 228px;
  }
}
@media (min-width: 750px) and (orientation: portrait) and (min-aspect-ratio: 17/20),
  (min-width: 590px) and (max-width: 749px) and (orientation: portrait) and (min-aspect-ratio: 2/3) {
  .buttons {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 590px) and (max-width: 750px) and (orientation: portrait) and (min-aspect-ratio: 3/4) {
  .buttons {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (orientation: landscape) {
  .buttons {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.buttonWrapper {
  margin: 8px;
}
@media (min-width: 590px) and (orientation: portrait) {
  .buttonWrapper {
    margin: 16px;
  }
}
.button {
  min-width: 15em !important;
}
@media (min-width: 590px) and (orientation: portrait) {
  .button {
    font-size: 1.2em !important;
  }
}
@media (min-width: 1024px) and (orientation: portrait) {
  .button {
    margin: 0.2em !important;
    min-width: 15em !important;
    font-size: 1.2em !important;
  }
}
.separator {
  margin-top: 24px;
}
@media (min-width: 590px) and (orientation: portrait) {
  .separator {
    margin-top: 64px;
  }
}
