html {
  font-size: 100%;
  @include media(">=sm", "portrait") {
    font-size: 140%;
  }
  @include media(">=tablet", "landscape") {
    font-size: 130%;
  }
  @include media(">=desktop", "portrait") {
    font-size: 180%;
  }
  @include media(">=xl") {
    font-size: 140%;
  }
  @include media(">=xxl") {
    font-size: 160%;
  }
  @include media(">=xxxl") {
    font-size: 170%;
  }
  @include media(">=xxxxl") {
    font-size: 190%;
  }
}
html,
body,
#root {
  min-height: 100%;
  height: 100vh;
  background-color: $colorBackground;
}
body {
  margin: 0;
  font-family: "M PLUS 1p", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.appRoot {
  background-color: $colorBackground;
  min-height: 100%;
  height: 100%;
}
