$breakpoints: (
	"xs": 530px,
	"sm": 590px,
	"m": 768px,
	"tablet": 840px,
	"desktop": 1024px,
	"l": 1200px,
	"xl": 1590px,
	"xxl": 1780px,
	"xxxl": 2100px,
	"xxxxl": 2250px,
	"tabletH": 700px,
	"desktopH": 855px,
) !default;

$colorPrimary: #468189;
$colorSecondary: #e54b4b;
$colorBackground: #f8f7f9;
$colorGray: #999;
$colorDarkGray: #222;
$colorLightGray: #ccc;
