$breakpoints: (
  "xs": 530px,
  "sm": 590px,
  "tablet": 840px,
  "desktop": 1024px,
  "xl": 1590px,
  "xxl": 1780px,
  "tabletH": 680px,
  "desktopH": 840px,
) !default;

$colorPrimary: #468189;
$colorSecondary: #e54b4b;
$colorBackground: #f8f7f9;
$colorGray: #999;
$colorDarkGray: #222;
$colorLightGray: #ccc;
